<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
               xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">

    <resources cache="true">
        <cfg:filters />
        <cfg:extensiongroups>
            <cfg:extensiongroup name="SetPublishDefaultToUnCheckAllTargets">
                <cfg:extension target="Tridion.Web.UI.Controls.RibbonToolbar">
                    <cfg:insertafter>SetPublishDefaultToUnCheckAllTargets</cfg:insertafter>
                </cfg:extension>
            </cfg:extensiongroup>
        </cfg:extensiongroups>
        <cfg:groups>
            <cfg:group name="SetPublishDefaultToUnCheckAllTargets">
                <cfg:fileset>
                    <cfg:file type="script">/js/PublishDialogSettings.js</cfg:file>
                </cfg:fileset>
            </cfg:group>
        </cfg:groups>
    </resources>
    <definitionfiles />
    <extensions>
        <ext:editorextensions/>
        <ext:dataextenders/>
    </extensions>
    <commands />
    <contextmenus />
    <localization />
    <settings>
        <defaultpage />
        <navigatorurl />
        <editurls/>
        <listdefinitions/>
        <itemicons/>
        <theme>
            <path/>
            <resourcegroup />
        </theme>
        <resourceextensions>
            <resourceextension>SetPublishDefaultToUnCheckAllTargets</resourceextension>
        </resourceextensions>
        <customconfiguration/>
    </settings>
</Configuration>
